<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <title>index</title>
</head>
<body>
    <header>
        <div class="_header">
            <div class="_isotipo">
                <img src="" alt="">
            </div>
        </div>
        <div class="_banner"></div>
    </header>
</body>
</html>